services:
  mqtt:
    build: ./mosquitto/
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - mosquitto:/mosquitto/data
      - ${PWD}/mosquitto/conf.d:/mosquitto/conf.d
      - mosquitto_etc:/mosquitto/etc
    environment:
      - MQTT_USER=${MQTT_USER:-user}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    restart: unless-stopped
  nodered:
    image: nodered/node-red
    user: "${UID:-1000}:${GID:-1000}"
    profiles:
      - nodered
    ports:
      - 1880:1880
    volumes:
      - nodered:/data
    restart: unless-stopped
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:1.35.0
    ports:
      - 4000:4000
    devices:
      - "${ZIGBEE_DEVICE:-/dev/ttyACM0}:${ZIGBEE_DEVICE:-/dev/ttyACM0}"
    volumes:
      - zigbee2mqtt:/app/data
      - ${PWD}/zigbee2mqtt.yaml:/app/data/configuration.yaml
    restart: unless-stopped
volumes:
  mosquitto:
  mosquitto_etc:
  nodered:
  zigbee2mqtt:
